@tailwind base;

@font-face {
  font-family: Merriweather-Bold;
  src: url('../fonts/Merriweather-Bold.ttf') format('truetype');
}

@font-face {
  font-family: Merriweather-Regular;
  src: url('../fonts/Merriweather-Regular.ttf') format('truetype');
}

@font-face {
  font-family: SourceSansPro-SemiBold;
  src: url('../fonts/SourceSansPro-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: SourceSansPro-Regular;
  src: url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: SourceSansPro-Light;
  src: url('../fonts/SourceSansPro-Light.ttf') format('truetype');
}

h1 {
  font-family: theme('fontFamily.merriweather-bold');
  font-size: 3.5rem;
  line-height: 1.1428;
  color: theme('colors.primary');
}

h2 {
  font-family: theme('fontFamily.merriweather-bold');
  @apply text-4xl;
  line-height: 1.1111;
  color: theme('colors.primary');
}

h3 {
  font-family: theme('fontFamily.merriweather-bold');
  @apply text-2xl;
  line-height: 1.3333;
  color: theme('colors.primary');
}

@tailwind components;

@tailwind utilities;

.logo {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='84' height='30' viewBox='0 0 84 30'%3E%3Cg fill='none' fill-rule='evenodd' transform='translate(0 -5)'%3E%3Ctext fill='%23111C3A' font-family='Georgia-Bold, Georgia' font-size='30' font-weight='bold' letter-spacing='.375'%3E%3Ctspan x='0' y='28'%3EJing%3C/tspan%3E%3C/text%3E%3Ccircle cx='80' cy='24' r='4' fill='%23C94215'/%3E%3C/g%3E%3C/svg%3E");
  height: 1.875rem;
  width: 5.25rem;
}

.arrow-right {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='16' viewBox='0 0 27 16'%3E%3Cpath fill='%23C94215' fill-rule='evenodd' d='M26.971 8.236c.092-.474-.04-.965-.353-1.316L20.805.487c-.342-.4-.86-.572-1.355-.447-.495.125-.887.526-1.023 1.048-.136.52.006 1.08.37 1.458l3.543 3.958H1.395C.625 6.504 0 7.17 0 7.99c0 .82.625 1.484 1.395 1.484h21.121l-3.915 3.82c-.447.329-.675.903-.583 1.473.092.57.486 1.03 1.01 1.182.524.151 1.083-.035 1.433-.477l6.045-5.938c.351-.32.526-.809.465-1.297z'/%3E%3C/svg%3E");
  height: 1rem;
  width: 1.6875rem;
}

.social-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.icon-linkedin {
  @apply social-icon;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath fill='%23000' d='M12.911 10.256v-.068l-.044.068h.044z'/%3E%3Cpath fill='%236C8394' d='M22.226 0H1.773C.793 0 0 .77 0 1.72V22.28C0 23.23.794 24 1.773 24h20.453c.98 0 1.774-.77 1.774-1.719V1.72C24 .77 23.206 0 22.226 0zM7.275 20.091H3.65V9.254h3.625V20.09zM5.462 7.774h-.024c-1.216 0-2.002-.833-2.002-1.873 0-1.063.81-1.872 2.05-1.872 1.24 0 2.003.81 2.027 1.872 0 1.04-.787 1.873-2.05 1.873zM20.346 20.09h-3.625v-5.799c0-1.456-.524-2.45-1.836-2.45-1.001 0-1.597.67-1.86 1.318-.096.23-.12.554-.12.878v6.053H9.282s.048-9.822 0-10.838h3.625v1.534c.482-.738 1.343-1.79 3.267-1.79 2.385 0 4.173 1.55 4.173 4.88v6.214z'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.icon-medium {
  @apply social-icon;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%236C8093' fill-rule='evenodd' d='M21.068 0C22.686 0 24 1.314 24 2.932v18.136C24 22.686 22.686 24 21.068 24H2.932C1.314 24 0 22.686 0 21.068V2.932C0 1.314 1.314 0 2.932 0h18.136zm-.914 6.437H15.49l-3.325 8.293-3.781-8.293H3.49v.283L5.067 8.62c.155.139.234.344.213.55v7.46c.045.268-.04.543-.229.74l-1.772 2.15v.283h5.026v-.283l-1.773-2.15c-.19-.196-.28-.47-.244-.74v-6.45l4.412 9.623h.512l3.79-9.624v7.671c0 .205 0 .244-.135.378l-1.363 1.323v.284h6.618v-.284l-1.316-1.291c-.116-.089-.173-.234-.15-.378V8.39c-.023-.145.034-.29.15-.379l1.348-1.292v-.283z'/%3E%3C/svg%3E");
}

.icon-dribbble {
  @apply social-icon;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%236C8394' fill-rule='evenodd'%3E%3Cpath d='M11.62 9.755c-1.183-2.105-2.449-3.82-2.54-3.942-1.907.902-3.33 2.659-3.775 4.777.181.003 3.031.037 6.316-.835zM7.796 17.393v-.003c-.051-.04-.104-.076-.154-.117.09.072.154.12.154.12zM12.472 12.053c.089-.03.179-.056.27-.082-.172-.389-.36-.778-.555-1.162-3.522 1.054-6.901.977-7.022.974-.003.072-.006.144-.006.216 0 1.758.663 3.36 1.753 4.572l-.003-.004s1.872-3.321 5.563-4.514zM16.517 6.866c-1.206-1.06-2.786-1.707-4.518-1.707-.556 0-1.096.069-1.612.193.103.136 1.388 1.843 2.557 3.99 2.582-.966 3.556-2.45 3.572-2.476zM10.397 5.38c-.014.005-.03.007-.044.014l.041-.01s.003-.003.003-.005z'/%3E%3Cpath d='M20.924 0H3.076C1.386 0 0 1.386 0 3.076v17.848C0 22.614 1.386 24 3.076 24h17.848C22.614 24 24 22.614 24 20.924V3.076C24 1.386 22.614 0 20.924 0zm-1.079 13.613c-.105.515-.262 1.02-.467 1.503-.2.477-.45.934-.739 1.363-.286.423-.614.822-.977 1.184s-.76.69-1.185.978c-.428.288-.886.537-1.36.738-.484.205-.99.362-1.506.467-.527.109-1.069.163-1.612.163-.542 0-1.086-.055-1.613-.163-.514-.105-1.02-.262-1.505-.467-.475-.2-.932-.45-1.36-.738-.425-.288-.823-.616-1.186-.978-.361-.362-.69-.76-.977-1.184-.29-.43-.538-.886-.738-1.363-.204-.482-.363-.988-.468-1.503-.108-.527-.162-1.07-.162-1.614 0-.124.003-.248.01-.372.019-.417.07-.833.152-1.239.105-.516.264-1.022.468-1.506.2-.475.449-.932.738-1.36.287-.423.616-.823.977-1.185.363-.363.761-.691 1.186-.978.428-.29.885-.538 1.36-.74.485-.203.99-.36 1.505-.465.528-.108 1.07-.164 1.613-.164.543 0 1.085.056 1.612.163.515.105 1.022.263 1.505.467.475.2.933.449 1.361.738.424.287.823.616 1.185.978.363.363.691.762.977 1.185.29.428.538.885.74 1.36.204.483.361.991.466 1.507.088.428.139.87.155 1.313.004.099.009.199.009.299 0 .542-.056 1.086-.164 1.613z'/%3E%3Cpath d='M17.282 7.656c-.014.017-1.11 1.605-3.811 2.706.044.09.086.183.13.275.111.237.221.476.324.717l.147.353c2.351-.296 4.666.203 4.765.225-.003-.184-.012-.365-.028-.545-.126-1.41-.677-2.698-1.527-3.731zM13.164 13.12c-4.038 1.406-5.355 4.243-5.367 4.27 1.16.905 2.616 1.45 4.202 1.45.947 0 1.85-.194 2.67-.542-.1-.597-.498-2.692-1.46-5.193-.016.004-.031.009-.045.015zM14.489 12.786c.898 2.466 1.262 4.473 1.332 4.886 1.535-1.036 2.627-2.681 2.93-4.586-.14-.046-2.053-.651-4.262-.3z'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.intro-images-layout {
  grid-template-columns: 3fr 1fr 2fr 2fr;
}

.intro-images-layout.overlapping li:nth-child(1) {
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
}

.intro-images-layout.overlapping li:nth-child(2) {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}

a.link-highlighted {
  border-bottom: 2px solid transparent;
}

a.link-highlighted:hover {
  border-color: theme('colors.secondary');
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.0714em solid theme('colors.primary');
  border-bottom: 0.0714em dashed theme('colors.gray.400');
  white-space: nowrap; /* Keeps the content on a single line */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-right-color: transparent }
  50% { border-right-color: theme('colors.primary'); }
}