<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/main.css" />
  </head>
  <body class="bg-white font-sourcesanspro-light text-gray-600">
    {% include header.html %}
    <section class="max-w-screen-xl m-auto overflow-x-hidden">
      <article>
        <h1>{{ page.title }}</h1>
        <section>
          {{ content }}
        </section>
      </article>
    </section>
    {% include footer.html %}
  </body>
</html>
